@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --hrtm-width: auto;
  --hrtm-theme-background: #fff;
}

* {
  scroll-behavior: smooth;
  font-family: "Merriweather", serif;
  font-weight: 300;
  font-style: normal;
}

.merriweather-light {
  font-family: "Merriweather", serif;
  font-weight: 300;
  font-style: normal;
}

.merriweather-regular {
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-style: normal;
}

.merriweather-bold {
  font-family: "Merriweather", serif;
  font-weight: 700;
  font-style: normal;
}

.merriweather-black {
  font-family: "Merriweather", serif;
  font-weight: 900;
  font-style: normal;
}

.merriweather-light-italic {
  font-family: "Merriweather", serif;
  font-weight: 300;
  font-style: italic;
}

.merriweather-regular-italic {
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-style: italic;
}

.merriweather-bold-italic {
  font-family: "Merriweather", serif;
  font-weight: 700;
  font-style: italic;
}

.merriweather-black-italic {
  font-family: "Merriweather", serif;
  font-weight: 900;
  font-style: italic;
}

@media (prefers-color-scheme: light) {
  :root {
    --hrtm-theme-background: #fff;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --hrtm-theme-background: #111110;
  }
}

.hrtm-theme-background {
  background-color: var(--hrtm-theme-background);
}
